[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pipreqs = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
datetime = "*"
imblearn = "*"
sklearn = "*"
xgboost = "*"
fastapi = "*"
pydantic = "*"
uvicorn = "*"
pytest = "*"

[dev-packages]
ipykernel = "*"
yapf = "*"

[requires]
python_version = "3.8"
